body{
    font-family: 'Montserrat', sans-serif;/*es el tipo de fuente y se copea de la misma pagina de donde se saca el tipo de letra y aqui se esta poniendo para todo el body*/
}

header{
    background-color: #BBBBBB;
    padding: 20px 0;/*son espaciamientos de 20px arriba, abajo y 0 a los lados*/
}

.caja{
    width: 940px;/*esto es porque la mayoria de las pc tienen 1270 pixeles y en otras pc ocupa el 70%*/
    position: relative;/*esta posicion relativa es de acuerdo a la posicion absoluta de abajo*/
    margin: 0 auto;/*el 0 es para los margenes arriba, abajo y el automatico es para los lados para evitar hacer malos calculos y que sin importar el tamaño de la pantalla siempre quede enmedio*/
    display: flex;
    align-items: center;
}

.header__img{
    height: 7rem;
}

nav{
    /*position: absolute;
    top: 110px;
    right: 0;*/
    display: flex;
    justify-content: flex-end;
    width: 100%;
    font-size: 22px;

}

nav li{/*se tiene que especificar en este caso porque se estan poniendo dos etiquetas*/
    display: inline;
    margin: 0 0 0 1.5rem;/*tiene 4 parametros para cada lado de margen (arriba, der, abajo, izq)*/
}

nav a{
    text-transform: uppercase;/*pone la letra en mayusculas y se pone aqui y strong porque queremos cambiar el estilo y no la estructura*/
    color: #000000;
    font-weight: bold;  /* marca con negrita el texto*/
    font-size: 22px;
    text-decoration: none;/*es para quitar el subrallado que se pone automaticamente*/

}

nav a:hover{
    color: #c78c19;
    text-decoration: underline;
}/*captura el movimiento del mouse dentro de la paguina y cambia el color cuando esta sobre el contenido y agrega el subrallado*/

.productos{
    width: 940px;/*esto es para que solo se ocupe ese espacio en la pantalla si se supera se mueve a la linea de abajo*/
    margin: 0 auto;
    padding: 50px;/*es el espacio entre el encabezado y cuerpo*/
}

.productos li{
    display: inline-block;
    text-align: center;
    width: 30%;/*cada elemento de las listas ocupa el 30% esto para que las 3 listas tengan el mismo ancho y 10% sobrante se distribulle entre ellos*/
    vertical-align: top;/*la alinacion de los items sea vertical*/
    margin: 0 1.5%;/*es 0 en vertical y 1.5 a los lados*/
    padding: 30px 20px;/*30 en vertical y 20 horizontal es un espaciamiento interno*/
    box-sizing: border-box;/*es para que el padidng sea contado dentro del 30% de width y no se pase del 100% que son los 940px*/
    border: 2px solid #000000;
    border-radius: 10px;/*redondea los bordes, se puede poner un redondeado de borde para cada esquina border-top-letf-radius 20px*/
    /*en estas partes donde hay muchas cosas se puede poner un color con background de fondo para saber si hay que modificar algo cono fue el caso*/
}

.productos li:hover{
    border-color: #c78c19;
    padding: 30px 10px;
}

.productos li:active{/*captura el clic y cuando lo hacer se cambia el borde de color*/
    border-color: #088c19;
}

.productos h2{
    font-size: 30px;
    font-weight: bold;
}

.productos li:hover h2{/*este selector se da ya que no cambia el tamaño de letra cuando se pasa el mouse sobre el ya que prioriza el 30px de las lineas de arriba*/
    font-size: 33px;
}

.producto-descripcion{
    font-size: 18px;
}

.producto-precio{
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

footer{
    text-align: center;
    background: url(imagenes/bg.jpg);/*se usa para poner una imagen de fondo y esa imagen se repite hasta que llena el espacio*/
    padding: 40px;
}

.copyright{
    color: #ffffff;
    font-size: 13px;
    margin: 20px;
}

/*este parte de la paguina de contacto*/


form{
    margin: 40px 0;
    padding-left: 15%;
}

form label, form legend{/*se puede usar selector de items como se esta usando separando con una ","*/
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padron{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;/*son para hacer los margenes del cuadro de texto mas grandes 10 para arriba, abajo y 25 para los lados*/
    width: 50%;/*es para que utilicen el 50% de los 940px de largo*/
}

.checkbox{
    margin: 20px 0;
}

.enviar{
    width: 40%;/*es el ancho del boton*/
    padding: 15px 0;/*el espaciamiento interno 15 para arriba y abajo y 0 a los lados*/
    font-size: 18px;/*tamaño de letra*/
    font-weight: bold;/*este en negrita*/
    color: white;/*color de letra*/
    background: orange;/*color de boton*/
    border: none;/*es para quitar el margen negro porque no se ve bien*/
    border-radius: 5px;/*bordes redondeados*/
    transition: 1s all;/*es para que el cambio tarde 1 seg y se pone all para especificar que cambie el color y el aumento de tamaño de boton*/
    cursor: pointer;/*cuando el cursos esta en el boton se cambia la flecha a la manita*/
}

.enviar:hover{/*es para darle el efecto cuando el mouse esta en el boton*/
    background: darkorange;/*se cambia el color cuando el raton esta en el boton*/
    transform: scale(1.2) /*rotate(70deg) es para girar ciertos grados, scale aumenta el tamaño del boton cuando se pasa en cursor*/
}

table{
    margin: 40px 15%;/*los margenes externos son superior,inferior y los lados*/
}

thead{
    background: #555555;
    color: white;
    font-weight: bold;
}

td, th{
    border: 1px solid #000000;/*se define el borde de 1px y la linea solida*/
    padding: 8px 15px;/*es espaciamiento 8 es para arriba y abajo y 15 a los lados*/
}

/*aqui inicia el css para nuestra home*/

.banner{
    width: 100%;
}

.principal{
    padding: 3em 0 ;
    background: #fefefe;
    width: 940px;
    margin: 0 auto;
}
.titulo-principal{
    text-align: center;
    font-size: 2em;/*esto indica dos veces el tamaño padron que se usa en este caso en ves de 15px se aumenta a 30px*/
    margin: 0 0 1em;/*arriba,derecha,inferior, izq*/
    clear: left;/*es para limpiar las configuraciones a la izq despues del titulo y es para la imagen de utensilios que solo aplique en ese bloque*/
}

/* pseudo elementos
titulo-principal: :first-letter {
    font-weight bold
} con esto se puede por ejemplo alterar la primera letra de cada titulo y ponerla en negrita
p:first-line{
    font-style italic
} con esto se puede altera la primera linea de cada parrafo y por ejemplo ponerla en italica
titulo-principal:before{
    content: "["
}
titulo-principal:after{
    content: "]"
} esto es muy usado y es para agregar algo en este caso corchetes antes de despues de cada titulo principal*/

.principal p{
    margin: 0 0 1em;
}

.principal strong{
    font-weight: bold;
}

.principal em{
    font-size: italic;
}

.utensilios{
    width: 120px;
    float: left;/*hace que la imagen sea flotante y la despega de la pantalla y la superficie del elemeto sigue siendo usada y los otros elementos como el texto se posicionan al rededor de el*/
    margin: 0 20px 20px 0;/*es en sentido horario*/
}

.mapa{
    padding: 3em 0;
    background: linear-gradient(#fefefe, #888888);/*esto es para hacer un degradado en donde va a ir de un color a otro se pueden usar mas de dos colores y se puede alterar el angulo en donde viajan poniendo (45deg, orange 50%, blue) para indicar un angulo, tambien se puede poner cuanto quieres que ocupe un color como el orange, se puede hacer circular en vez de linear se usa rad y se hace un degradado en circulos iniciando desde el centro*/
}

.mapa p{
    margin: 0 0 2em;
    text-align: center;
}

.mapa-contenido{
    width: 940px;
    margin: 0 auto;
}


.diferenciales{
    padding: 3em 0;
    background: #888888;
}
.contenido-diferenciales{
    width: 43rem;
    margin: 4rem auto;
    display: flex;
}

.lista-diferenciales{
    width: 40%;
    display: inline-block;
    vertical-align: top;/*el texto estaba alineado al lado de abajo de la imagen y es para que se alinee desde el lado de arriba*/
    padding: 1rem;
}

.items{
    line-height: 1.5;/*es parecido al 2em que se usa y aqui se esta diciendo que se de 150% es tamaño padron o 1.5 veces mas grande*/
}

.items:before{
    content: "★";/*se puede poner el codigo "\2606" en comillas o copiar el logo en este caso de saco de unicode stars*/
}

.items:first-child{/*es usa pseudo clase en donde se le dice que al primero se los elementos se pinte de negro, se puede poner last para el ultimo o nth-child(3) por ejemplo para marcar con negrita al 3 de la lista, (2n) es para pintar los pares*/
    font-weight: bold;
}

.imagen-diferenciales{
    width: 60%;
    transition: 400ms; /*la opacidad va a tardar el tiempo que se le ponga*/
    box-shadow: 10px 10px 30px 15px #ec0f51;/*los parametros son la sombras en el eje horizontal, vertical, difumacion, el sprig o la expancion de hasta donde queremos que la sombra llegue y el color de la sombra*/
}

.imagen-diferenciales:hover{
    opacity: 0.3; /*es para que se vuelva opaca la imagen y si es 0% no se ve la imagen se puede usar en porcentaje o del 0-1*/
}

.video{
    width: 560px;
    margin: 1em auto;
}
/*la jerarquia de importancia de seleccion es primero  id, class y etiqueta ya que tiene como mayor prioridad la id y se pide que cambie de color va a hacer caso a la id y no a la class, etiqueta ya que tiene un mayor peso hay una opcion que tiene aun mas peso es escribirlo en inline dentro de html como style="color: purple"*/

.footer__img{
    height: 7rem;
}

@media (481px <= width <= 1200px){

    .caja{
        width: 90%;
    }

    nav li{
        margin: 0 1rem;
    }

    .principal{
        width: 90%;
    }

    .mapa-contenido{
        width: auto;
    }

    .mapa{
        width: 80%;
        padding: 0 10%;
        height: 17rem;
    }

    .diferenciales{
        padding: 9rem 0 4rem 0;
    }
}

@media screen and (max-width:480px){
    h1{
        text-align: center;
    }
    nav{
        position: static;
    }

    .caja{
        width: 90%;
    }

    nav li{
        margin: 0 6rem;
    }

    .principal{
        width: 90%;
    }

    .mapa-contenido{
        width: auto;
    }

    .mapa{
        width: 80%;
        padding: 0 10%;
        height: 17rem;
    }

    .diferenciales{
        padding: 10rem 0 4rem 0;
    }

    .lista-diferenciales{
        width: auto;
    }

    .contenido-diferenciales{
        flex-wrap: wrap;
        justify-content: center;
        margin: 3rem auto;
        width: auto;
    }

    .video{
        width: 90%;
    }

    /*.caja, .principal, .mapa-contenido, .contenido-diferenciales, .video{
        width: auto;
    }
    .lista-diferenciales, .imagen-diferenciales{
        width: 100%;
    }*/
}/*aqui se dice que si encunetra una pantalla con hasta 480px se aplique lo que se pone adentro*/